.loved 
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 50lvw;
    min-width: min-content;
    gap: 1rem 1%;
}

.loved__component 
{
    max-width: 75%;
    min-width: 12rem;
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
    margin: 0 auto;

    & h4 
    {
        position: absolute;
        z-index: 1000;
        -webkit-text-stroke: 1.1px #121212;
        color: #fff0;
        transform: rotateZ(-45deg) translateX(-1rem) translateY(-1rem);
        font-weight: bold;
        text-shadow: 0 0 5px #fff;
        filter: drop-shadow(0px 0px 3px #fff);
        font-size: 1.1rem
        
    }

    & img, video
    {
        filter: grayscale(.85);
        border-radius: 16px;
        width: 100%;
        object-fit: cover;
        aspect-ratio: 16/16;
        image-rendering: optimizeQuality;
    }
}

.loved__component::before, .loved__component::after {
    content: "";
    position: absolute;
    width: 101%;
    height: 101%;
    border: 3px solid #808080b2;
    border-radius: 16px;
    transform: translateX(-1%) translateY(-1%) rotateZ(3deg);
}

.loved__component::after {
    border: 2.5px dotted #ffffff;
    transform: translateX(-1%) translateY(-1%) rotateZ(3deg);
}

.loved__component:nth-child(4)
{
    img 
    {
        object-fit: cover;
        object-position: 0 0;
        aspect-ratio: 1/1;
    }
}

#p_loved {
    position: absolute;
    left: 0;
  
    & b {
      transform-origin: 0%;
      display: block;
      width: max-content;
      text-transform: uppercase;
      letter-spacing: 3px;
      transform: rotateZ(270deg) translateY(6lvw) translateX(-9rem);
    }
}


@media screen and (min-width: 1400px) { .loved {max-width: 50lvw;} .loved__component { max-width: 50%; margin: 0; & h4 {font-size: 1.4rem} }}
@media screen and (min-width: 1200px) and (max-width: 1400px) { .loved {max-width: 50lvw;} .loved__component { max-width: 70%; margin: 0; & h4 {font-size: 1.4rem} }}
@media screen and (min-width: 1024px) and (max-width: 1200px) { .loved {max-width: 45lvw;} .loved__component { margin: 0; max-width: 75%; & h4 {font-size: 1.4rem} }}
@media screen and (max-width: 878px) { .loved {max-width: 70lvw;} .loved__component { width: 90%; }}
@media screen and (max-width: 770px) { .loved {max-width: 80lvw;} }
@media screen and (max-width: 500px) { .loved {max-width: 90lvw;} }